
<div id="about" class="container-fluid">
  <div class="row-fluid">
    <div class="span8 offset2">

      <h2><%= t(:mission_statement) %>.</h2>

      <p>
        O <em>No meu Bairro</em> é um serviço para reportar problemas que encontres na tua localidade.
      </p>
      <p>
        Os problemas podem ser coisas simples como um buraco na rua, um candeeiro com a lâmpada fundida ou um
        semáforo estragado. Mas podem ser coisas mais complexas. Deixamos ao teu critério.
      <p>
        O <em>No meu Bairro</em> tenta chegar a informação a quem possa resolver a questão. Neste momento
        apenas conseguimos fazer isso se estiveres na cidade de Coimbra, mas dentro em breve iremos expandir
        para outros locais.
      </p>
      <p class="actions">
        <a href="javascript:history.back()" class="btn">« <%= t(:back) %></a>
      </p>
    </div>
  </div>
</div>
