

        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span8 offset2">

              <h2><%= t(:mission_statement) %>.</h2>

              <p>
                O "No meu Bairro" é um serviço criado por pessoas normais no âmbito do Improve Coimbra.<br/
                Neste serviço podes reportar problemas que encontres na tua cidade.<br/>
                Os problemas podem ser coisas simples como um buraco na rua, um candeeiro com a lâmpada fundida ou um
                semáforo estragado. Mas podem ser coisas mais complexas. Deixamos ao teu critério.<br/>
                O "No meu Bairro" irá tentar fazer chegar a informação a quem possa resolver a questão. Neste momento
                apenas conseguimos fazer isso se estiveres na cidade de Coimbra. Mas dentro em breve iremos expandir
                para outros locais.

              <p/>
              <a href="/" class="btn"><%= t(:back) %></a>
            </div>
          </div>
        </div>

