<div id="about" class="container-fluid">
  <div class="row-fluid">
    <div class="span8 offset2">

      <h2><%= t(:mission_statement) %>.</h2>

      <p>
        O <em>No meu Bairro</em> é um serviço para reportar problemas que encontres na tua localidade.
      </p>

      <p>
        Os problemas podem ser coisas simples como um buraco na rua, um candeeiro com a lâmpada fundida ou um
        semáforo estragado. Mas podem ser coisas mais complexas. Deixamos ao teu critério.

      <p>
        O <em>No meu Bairro</em> tenta fazer chegar a informação a quem possa resolver a questão. Tendo nascido na
        cidade de Coimbra o No meu Bairro pretende crescer, por esse motivo os problemas reportados são enviados para
        a Câmara Municipal nas seguintes cidades/vilas:
      </p>

      <ul>
        <li>Aveiro</li>
        <li>Coimbra</li>
        <li>Condeixa-a-Nova</li>
        <li>Penela</li>
        <li>Setúbal</li>
        <li>Vagos</li>

      </ul>
      <p>
      mas a lista está a crescer continuamente.
      </p>

      <p>
        Se quiseres saber novidades do <em>No meu Bairro</em> podes nos seguir via
        <a href="https://twitter.com/NoMeuBairro" target="_blank">
          twitter</a> ou <a href="https://www.facebook.com/nomeubairro">facebook</a>, é ai que colocamos as novidades
        todas.
        </a>
      </p>

      <p>
        Se tiveres ideias ou problemas com o <em>No meu Bairro</em>, podes enviar um <a href="#" id="email_a">mail</a>.
        Prometemos ler e tentaremos responder.
      </p>

      <p>
        Como acreditamos que podemos melhorar com a tua contribuição resolvemos abrir o
        <a href="https://github.com/ImproveCoimbra/no_meu_bairro/" target="_blank">código fonte</a> do nosso serviço
        para que possam alterar e partilhar as melhorias (GPL-v2).
        <br/>
      </p>

      <p class="actions">
        <a href="javascript:history.back()" class="btn">« <%= t(:back) %></a>
      </p>
    </div>
  </div>
</div>

<% content_for :scripts do %>
    <script type="text/javascript">
        $(document).ready(function () {
            s3 = "@gmail.com";
            s2 = "bairro.app";
            s1 = "mai" + "lto" + ":";
            $("#email_a").attr("hr" + "ef", s1 + s2 + s3);
        });
    </script>
<% end %>