<header id="home">
  <div class="container">
    <h1>No Bairro</h1>
    <h2>Ajuda a reportar os problemas do teu bairro.</h2>
    <a href="/reports/new" class="btn btn-large btn-success">Reportar problema</a>
  </div>
</header>