<% content_for :contents do %>

<div id="home">

  <header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h1><%= t(:app_name) %></h1>
          <h2><%= t(:mission_statement) %>.</h2>
          <a href="/reports/new" class="btn btn-large btn-danger"><%= t(:report_new_problem)%></a>
        </div>
      </div>
    </div>
  </header>

  <%= gmaps(:markers => { "data" => @reports }, :map_options => { :container_class => 'map-container hidden-phone', :raw => "{styles: myStyle}"  }) %>

</div>

<% end %>
