<% content_for :contents do %>

<div id="home">

  <header>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>O meu bairro</h1>
          <h2>Ajuda a reportar os problemas do teu bairro.</h2>
          <a href="/reports/new" class="btn btn-large btn-danger">Reportar problema</a>
        </div>
      </div>
    </div>
  </header>

  <%= gmaps(:markers => { "data" => @reports.to_gmaps4rails }, :map_options => { :container_class => 'map-container hidden-phone' }) %>

</div>

<% end %>