# Add application configuration variables here


# Database
development:
  MONGODB_URI: mongodb://dev_user:dev_password@server:port/dev_instance

production:
  MONGODB_URI: mongodb://prd_user:prd_password@server:port/prd_instance


# Gmail

GMAIL_USERNAME: username@gmail.com
GMAIL_PASSWORD: password
SMTP: smtp.gmail.com
SMTP_PORT: 587

# Amazon S3

AMAZON_ACCESS_KEY_ID: AMAZON_ACCESS_KEY_ID
AMAZON_SECRET_ACCESS_KEY: AMAZON_ACCESS_KEY_ID
AMAZON_BUCKET: bucket

# OST

OST_API_KEY: You need to get an OST API KEy from http://www.ost.pt

# RAILS

RAILS_SECRET_TOKEN: http://www.jamesbadger.ca/2012/12/18/generate-new-secret-token/
