<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Problema reportado: <%= @report.description %></h1>

<p>
  Para consultar mais informação: <%= @url %>.
</p>

</body>
</html>