<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p><b><%= t(:reported_problem) %>: <%= @report.description %></b></p>

<p>
  Para consultar mais informação:  <%= link_to 'Relatório', report_url(@report) %>  .
</p>

</body>
</html>