<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p><b><%= t(:reported_problem) %>: <%= @report.description %></b></p>

<p>
  Fechar relatório:  <%= link_to t(:edit_report), edit_report_url(@report, :token => @report.token) %>  .
</p>

</body>
</html>