<h2>Problemas reportados</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Descrição</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.description %></td>
        <td><%= link_to 'Mais informações', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Reportar novo problema', new_report_path, :class => 'btn btn-danger' %>

<br><br>

<%= gmaps4rails(@reports.to_gmaps4rails) %>
